{% extends 'main/dashboard.html'%}



{% block page-bar-name %}Balance{% endblock %}

{% block page-bar-content %}
    <style>
        .page-bar-content {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-right: 10px;
        }

        .page-bar-content .btn {
            background-color: #00d1cd;
        }

        .currency-list-header,
        .currency-list-element {
            display: flex;
            flex-direction: row;;
            border-bottom: 1px solid #F2F2F2;
        }
        .currency-list-header h6,
        .currency-list-element p {
            margin-right: 10px;
        }

    </style>

    <div class="page-bar-content">
        <button type="submit" class="btn btn-success">New Currency</button>
    </div>
{% endblock %}

{% block main-content %}
    <div class="ballance-content" style="margin: 20px;">
        <div class="currency-list-header">
            <h6 style="width: 50px;">#</h6>
            <h6 style="width: 200px;">Currency</h6>
            <h6 style="width: 150px;">Quantity</h6>
            <h6 style="width: 150px;">Value PLN</h6>
            <h6 style="width: 150px;">Profit</h6>
            <h6 style="width: 150px;">Exchange Rate</h6>
            <h6 style="width: 100px;">% of wallet</h6>
        </div>
        <div class="currency-list-content">
        {% for currency in currencies %}
            <div class="currency-list-element" style="margin-top: 10px;">
                <p style="width: 50px;">#</p>
                <p style="width: 200px;">{{currency.currency}}</p>
                <p style="width: 150px;">{{currency.ballance}}</p>
                <p style="width: 150px;">{{currency.get_value_in_PLN}}</p>
                <p style="width: 150px;">#</p>
                <p style="width: 150px;">{{currency.get_exchange_rate}}</p>
                <p style="width: 100px;">#</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}