html {
    height: 100%;
}

body {
    height: 90%;
}

.header {
    width: 100%;
}

.main-container {
    display: flex;
    height: 100%;
}

.sidebar {
    position: relative;
    height: 100%;
    width: 15%;
    margin-left: 10px;
    padding-top: 10px;
    border-right: 1px solid #EAECEF;
}

.sidebar .btn{
    text-align: left;
    width: 100%;
}

.sidebar .btn:hover, .btn:focus{
    background-color: #F2F2F2;
    border-left: 4px solid #00d1cd;
}

.sidebar .btn:active{
    border: 1px solid #F2F2F2;
    border-left: 3px solid #00d1cd;
}

.sidebar img {
    width: 30px;
    height: 30px;
}

#al-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-content {
    width: 85%;
}

.dashboard-name {
    display: flex;
    align-items: center;
    width: max;
    height: 97px;
    background-color: #F2F2F2;
    padding-left: 20px;    
}

#user-data {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}